{% extends "base.html" %}

{% load bootstrap5 %}

{% block title %}
    <title>Create Restaurant Request - Hoos Hungry</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="mt-4 mb-4">Create a Restaurant Request</h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary">Submit Request for Approval</button>
                </form>
            </div>
        </div>
        {% if success %}
        <div id="success-alert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            Request successfully submitted!
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(function(){
                setTimeout(function(){
                    $("#success-alert").fadeOut("slow", function(){
                        $(this).alert('close');
                    });
                }, 1000);
            });
        </script>
        {% endif %}
    {% else %}
        <h2 class="mt-4 mb-4">You must be logged in to make a request.</h2>
    {% endif %}
{% endblock %}
